/*All*/
/*Color Code*/
.white-text, .btn { color: #FFFFFF !important; }
.kb-color.lighten-5 { background-color: #D0D6E2 !important; }
.kb-color.lighten-4 { background-color: #B1BACE !important; }
.kb-color.lighten-3 { background-color: #929FBA !important; }
.kb-color.lighten-2 { background-color: #7283A7 !important; }
.kb-color.lighten-1 { background-color: #59698D !important; }
.kb-color { background-color: #45526E !important; }
.kb-color-text { color: #45526E !important; }
.kb-color.darken-1 { background-color: #3B465E !important; }
.kb-color.darken-2 { background-color: #2E3951 !important; }
.kb-color.darken-3 { background-color: #1C2A48 !important; }
.kb-color.darken-4 { background-color: #1C2331 !important; }
.red.lighten-5 { background-color: #FFEBEE !important; }
.red.lighten-4 { background-color: #FFCDD2 !important; }
.red.lighten-3 { background-color: #EF9A9A !important; }
.red.lighten-2 { background-color: #E57373 !important; }
.red.lighten-1 { background-color: #EF5350 !important; }
.red { background-color: #F44336 !important; }
.red-text { color: #F44336 !important; }
.red.darken-1 { background-color: #E53935 !important; }
.red.darken-2 { background-color: #D32F2F !important; }
.red.darken-3 { background-color: #C62828 !important; }
.red.darken-4 { background-color: #B71C1C !important; }
.red.accent-1 { background-color: #FF8A80 !important; }
.red.accent-2 { background-color: #FF5252 !important; }
.red.accent-3 { background-color: #FF1744 !important; }
.red.accent-4 { background-color: #D50000 !important; }
.pink.lighten-5 { background-color: #fce4ec !important; }
.pink.lighten-4 { background-color: #f8bbd0 !important; }
.pink.lighten-3 { background-color: #f48fb1 !important; }
.pink.lighten-2 { background-color: #f06292 !important; }
.pink.lighten-1 { background-color: #ec407a !important; }
.pink { background-color: #e91e63 !important; }
.pink-text { color: #e91e63 !important; }
.pink.darken-1 { background-color: #d81b60 !important; }
.pink.darken-2 { background-color: #c2185b !important; }
.pink.darken-3 { background-color: #ad1457 !important; }
.pink.darken-4 { background-color: #880e4f !important; }
.pink.accent-1 { background-color: #ff80ab !important; }
.pink.accent-2 { background-color: #ff4081 !important; }
.pink.accent-3 { background-color: #f50057 !important; }
.pink.accent-4 { background-color: #c51162 !important; }
.purple.lighten-5 { background-color: #f3e5f5 !important; }
.purple.lighten-4 { background-color: #e1bee7 !important; }
.purple.lighten-3 { background-color: #ce93d8 !important; }
.purple.lighten-2 { background-color: #ba68c8 !important; }
.purple.lighten-1 { background-color: #ab47bc !important; }
.purple { background-color: #9c27b0 !important; }
.purple-text { color: #9c27b0 !important; }
.purple.darken-1 { background-color: #8e24aa !important; }
.purple.darken-2 { background-color: #7b1fa2 !important; }
.purple.darken-3 { background-color: #6a1b9a !important; }
.purple.darken-4 { background-color: #4a148c !important; }
.purple.accent-1 { background-color: #ea80fc !important; }
.purple.accent-2 { background-color: #e040fb !important; }
.purple.accent-3 { background-color: #d500f9 !important; }
.purple.accent-4 { background-color: #aa00ff !important; }
.deep-purple.lighten-5 { background-color: #ede7f6 !important; }
.deep-purple.lighten-4 { background-color: #d1c4e9 !important; }
.deep-purple.lighten-3 { background-color: #b39ddb !important; }
.deep-purple.lighten-2 { background-color: #9575cd !important; }
.deep-purple.lighten-1 { background-color: #7e57c2 !important; }
.deep-purple { background-color: #673ab7 !important; }
.deep-purple-text { color: #673ab7 !important; }
.deep-purple.darken-1 { background-color: #5e35b1 !important; }
.deep-purple.darken-2 { background-color: #512da8 !important; }
.deep-purple.darken-3 { background-color: #4527a0 !important; }
.deep-purple.darken-4 { background-color: #311b92 !important; }
.deep-purple.accent-1 { background-color: #b388ff !important; }
.deep-purple.accent-2 { background-color: #7c4dff !important; }
.deep-purple.accent-3 { background-color: #651fff !important; }
.deep-purple.accent-4 { background-color: #6200ea !important; }
.indigo.lighten-5 { background-color: #e8eaf6 !important; }
.indigo.lighten-4 { background-color: #c5cae9 !important; }
.indigo.lighten-3 { background-color: #9fa8da !important; }
.indigo.lighten-2 { background-color: #7986cb !important; }
.indigo.lighten-1 { background-color: #5c6bc0 !important; }
.indigo { background-color: #3f51b5 !important; }
.indigo-text { color: #3f51b5 !important; }
.indigo.darken-1 { background-color: #3949ab !important; }
.indigo.darken-2 { background-color: #303f9f !important; }
.indigo.darken-3 { background-color: #283593 !important; }
.indigo.darken-4 { background-color: #1a237e !important; }
.indigo.accent-1 { background-color: #8c9eff !important; }
.indigo.accent-2 { background-color: #536dfe !important; }
.indigo.accent-3 { background-color: #3d5afe !important; }
.indigo.accent-4 { background-color: #304ffe !important; }
.blue.lighten-5 { background-color: #E3F2FD !important; }
.blue.lighten-4 { background-color: #BBDEFB !important; }
.blue.lighten-3 { background-color: #90CAF9 !important; }
.blue.lighten-2 { background-color: #64B5F6 !important; }
.blue.lighten-1 { background-color: #42A5F5 !important; }
.blue { background-color: #2196F3 !important; }
.blue-text { color: #2196F3 !important; }
.blue.darken-1 { background-color: #1E88E5 !important; }
.blue.darken-2 { background-color: #1976D2 !important; }
.blue.darken-3 { background-color: #1565C0 !important; }
.blue.darken-4 { background-color: #0D47A1 !important; }
.blue.accent-1 { background-color: #82B1FF !important; }
.blue.accent-2 { background-color: #448AFF !important; }
.blue.accent-3 { background-color: #2979FF !important; }
.blue.accent-4 { background-color: #2962FF !important; }
.light-blue.lighten-5 { background-color: #e1f5fe !important; }
.light-blue.lighten-4 { background-color: #b3e5fc !important; }
.light-blue.lighten-3 { background-color: #81d4fa !important; }
.light-blue.lighten-2 { background-color: #4fc3f7 !important; }
.light-blue.lighten-1 { background-color: #29b6f6 !important; }
.light-blue { background-color: #03a9f4 !important; }
.light-blue-text { color: #03a9f4 !important; }
.light-blue.darken-1 { background-color: #039be5 !important; }
.light-blue.darken-2 { background-color: #0288d1 !important; }
.light-blue.darken-3 { background-color: #0277bd !important; }
.light-blue.darken-4 { background-color: #01579b !important; }
.light-blue.accent-1 { background-color: #80d8ff !important; }
.light-blue.accent-2 { background-color: #40c4ff !important; }
.light-blue.accent-3 { background-color: #00b0ff !important; }
.light-blue.accent-4 { background-color: #0091ea !important; }
.cyan.lighten-5 { background-color: #e0f7fa !important; }
.cyan.lighten-4 { background-color: #b2ebf2 !important; }
.cyan.lighten-3 { background-color: #80deea !important; }
.cyan.lighten-2 { background-color: #4dd0e1 !important; }
.cyan.lighten-1 { background-color: #26c6da !important; }
.cyan { background-color: #00bcd4 !important; }
.cyan-text { color: #00bcd4 !important; }
.cyan.darken-1 { background-color: #00acc1 !important; }
.cyan.darken-2 { background-color: #0097a7 !important; }
.cyan.darken-3 { background-color: #00838f !important; }
.cyan.darken-4 { background-color: #006064 !important; }
.cyan.accent-1 { background-color: #84ffff !important; }
.cyan.accent-2 { background-color: #18ffff !important; }
.cyan.accent-3 { background-color: #00e5ff !important; }
.cyan.accent-4 { background-color: #00b8d4 !important; }
.teal.lighten-5 { background-color: #e0f2f1 !important; }
.teal.lighten-4 { background-color: #b2dfdb !important; }
.teal.lighten-3 { background-color: #80cbc4 !important; }
.teal.lighten-2 { background-color: #4db6ac !important; }
.teal.lighten-1 { background-color: #26a69a !important; }
.teal { background-color: #009688 !important; }
.teal-text { color: #009688 !important; }
.teal.darken-1 { background-color: #00897b !important; }
.teal.darken-2 { background-color: #00796b !important; }
.teal.darken-3 { background-color: #00695c !important; }
.teal.darken-4 { background-color: #004d40 !important; }
.teal.accent-1 { background-color: #a7ffeb !important; }
.teal.accent-2 { background-color: #64ffda !important; }
.teal.accent-3 { background-color: #1de9b6 !important; }
.teal.accent-4 { background-color: #00bfa5 !important; }
.green.lighten-5 { background-color: #E8F5E9 !important; }
.green.lighten-4 { background-color: #C8E6C9 !important; }
.green.lighten-3 { background-color: #A5D6A7 !important; }
.green.lighten-2 { background-color: #81C784 !important; }
.green.lighten-1 { background-color: #66BB6A !important; }
.green { background-color: #4CAF50 !important; }
.green-text { color: #4CAF50 !important; }
.green.darken-1 { background-color: #43A047 !important; }
.green.darken-2 { background-color: #388E3C !important; }
.green.darken-3 { background-color: #2E7D32 !important; }
.green.darken-4 { background-color: #1B5E20 !important; }
.green.accent-1 { background-color: #B9F6CA !important; }
.green.accent-2 { background-color: #69F0AE !important; }
.green.accent-3 { background-color: #00E676 !important; }
.green.accent-4 { background-color: #00C853 !important; }
.light-green.lighten-5 { background-color: #f1f8e9 !important; }
.light-green.lighten-4 { background-color: #dcedc8 !important; }
.light-green.lighten-3 { background-color: #c5e1a5 !important; }
.light-green.lighten-2 { background-color: #aed581 !important; }
.light-green.lighten-1 { background-color: #9ccc65 !important; }
.light-green { background-color: #8bc34a !important; }
.light-green-text { color: #8bc34a !important; }
.light-green.darken-1 { background-color: #7cb342 !important; }
.light-green.darken-2 { background-color: #689f38 !important; }
.light-green.darken-3 { background-color: #558b2f !important; }
.light-green.darken-4 { background-color: #33691e !important; }
.light-green.accent-1 { background-color: #ccff90 !important; }
.light-green.accent-2 { background-color: #b2ff59 !important; }
.light-green.accent-3 { background-color: #76ff03 !important; }
.light-green.accent-4 { background-color: #64dd17 !important; }
.lime.lighten-5 { background-color: #f9fbe7 !important; }
.lime.lighten-4 { background-color: #f0f4c3 !important; }
.lime.lighten-3 { background-color: #e6ee9c !important; }
.lime.lighten-2 { background-color: #dce775 !important; }
.lime.lighten-1 { background-color: #d4e157 !important; }
.lime { background-color: #cddc39 !important; }
.lime-text { color: #cddc39 !important; }
.lime.darken-1 { background-color: #c0ca33 !important; }
.lime.darken-2 { background-color: #afb42b !important; }
.lime.darken-3 { background-color: #9e9d24 !important; }
.lime.darken-4 { background-color: #827717 !important; }
.lime.accent-1 { background-color: #f4ff81 !important; }
.lime.accent-2 { background-color: #eeff41 !important; }
.lime.accent-3 { background-color: #c6ff00 !important; }
.lime.accent-4 { background-color: #aeea00 !important; }
.yellow.lighten-5 { background-color: #fffde7 !important; }
.yellow.lighten-4 { background-color: #fff9c4 !important; }
.yellow.lighten-3 { background-color: #fff59d !important; }
.yellow.lighten-2 { background-color: #fff176 !important; }
.yellow.lighten-1 { background-color: #ffee58 !important; }
.yellow { background-color: #ffeb3b !important; }
.yellow-text { color: #ffeb3b !important; }
.yellow.darken-1 { background-color: #fdd835 !important; }
.yellow.darken-2 { background-color: #fbc02d !important; }
.yellow.darken-3 { background-color: #f9a825 !important; }
.yellow.darken-4 { background-color: #f57f17 !important; }
.yellow.accent-1 { background-color: #ffff8d !important; }
.yellow.accent-2 { background-color: #ffff00 !important; }
.yellow.accent-3 { background-color: #ffea00 !important; }
.yellow.accent-4 { background-color: #ffd600 !important; }
.amber.lighten-5 { background-color: #fff8e1 !important; }
.amber.lighten-4 { background-color: #ffecb3 !important; }
.amber.lighten-3 { background-color: #ffe082 !important; }
.amber.lighten-2 { background-color: #ffd54f !important; }
.amber.lighten-1 { background-color: #ffca28 !important; }
.amber { background-color: #ffc107 !important; }
.amber-text { color: #ffc107 !important; }
.amber.darken-1 { background-color: #ffb300 !important; }
.amber.darken-2 { background-color: #ffa000 !important; }
.amber.darken-3 { background-color: #ff8f00 !important; }
.amber.darken-4 { background-color: #ff6f00 !important; }
.amber.accent-1 { background-color: #ffe57f !important; }
.amber.accent-2 { background-color: #ffd740 !important; }
.amber.accent-3 { background-color: #ffc400 !important; }
.amber.accent-4 { background-color: #ffab00 !important; }
.orange.lighten-5 { background-color: #fff3e0 !important; }
.orange.lighten-4 { background-color: #ffe0b2 !important; }
.orange.lighten-3 { background-color: #ffcc80 !important; }
.orange.lighten-2 { background-color: #ffb74d !important; }
.orange.lighten-1 { background-color: #ffa726 !important; }
.orange { background-color: #ff9800 !important; }
.orange-text { color: #ff9800 !important; }
.orange.darken-1 { background-color: #fb8c00 !important; }
.orange.darken-2 { background-color: #f57c00 !important; }
.orange.darken-3 { background-color: #ef6c00 !important; }
.orange.darken-4 { background-color: #e65100 !important; }
.orange.accent-1 { background-color: #ffd180 !important; }
.orange.accent-2 { background-color: #ffab40 !important; }
.orange.accent-3 { background-color: #ff9100 !important; }
.orange.accent-4 { background-color: #ff6d00 !important; }
.deep-orange.lighten-5 { background-color: #fbe9e7 !important; }
.deep-orange.lighten-4 { background-color: #ffccbc !important; }
.deep-orange.lighten-3 { background-color: #ffab91 !important; }
.deep-orange.lighten-2 { background-color: #ff8a65 !important; }
.deep-orange.lighten-1 { background-color: #ff7043 !important; }
.deep-orange { background-color: #ff5722 !important; }
.deep-orange-text { color: #ff5722 !important; }
.deep-orange.darken-1 { background-color: #f4511e !important; }
.deep-orange.darken-2 { background-color: #e64a19 !important; }
.deep-orange.darken-3 { background-color: #d84315 !important; }
.deep-orange.darken-4 { background-color: #bf360c !important; }
.deep-orange.accent-1 { background-color: #ff9e80 !important; }
.deep-orange.accent-2 { background-color: #ff6e40 !important; }
.deep-orange.accent-3 { background-color: #ff3d00 !important; }
.deep-orange.accent-4 { background-color: #dd2c00 !important; }
.brown.lighten-5 { background-color: #efebe9 !important; }
.brown.lighten-4 { background-color: #d7ccc8 !important; }
.brown.lighten-3 { background-color: #bcaaa4 !important; }
.brown.lighten-2 { background-color: #a1887f !important; }
.brown.lighten-1 { background-color: #8d6e63 !important; }
.brown { background-color: #795548 !important; }
.brown-text { color: #795548 !important; }
.brown.darken-1 { background-color: #6d4c41 !important; }
.brown.darken-2 { background-color: #5d4037 !important; }
.brown.darken-3 { background-color: #4e342e !important; }
.brown.darken-4 { background-color: #3e2723 !important; }
.blue-grey.lighten-5 { background-color: #eceff1 !important; }
.blue-grey.lighten-4 { background-color: #cfd8dc !important; }
.blue-grey.lighten-3 { background-color: #b0bec5 !important; }
.blue-grey.lighten-2 { background-color: #90a4ae !important; }
.blue-grey.lighten-1 { background-color: #78909c !important; }
.blue-grey { background-color: #607d8b !important; }
.blue-grey-text { color: #607d8b !important; }
.blue-grey.darken-1 { background-color: #546e7a !important; }
.blue-grey.darken-2 { background-color: #455a64 !important; }
.blue-grey.darken-3 { background-color: #37474f !important; }
.blue-grey.darken-4 { background-color: #263238 !important; }
.grey.lighten-5 { background-color: #fafafa !important; }
.grey.lighten-4 { background-color: #f5f5f5 !important; }
.grey.lighten-3 { background-color: #eeeeee !important; }
.grey.lighten-2 { background-color: #e0e0e0 !important; }
.grey.lighten-1 { background-color: #bdbdbd !important; }
.grey { background-color: #9e9e9e !important; }
.grey-text { color: #9e9e9e !important; }
.grey.darken-1 { background-color: #757575 !important; }
.grey.darken-2 { background-color: #616161 !important; }
.grey.darken-3 { background-color: #424242 !important; }
.grey.darken-4 { background-color: #212121 !important; }
.shades.black { background-color: #000000 !important; }
.shades.white { background-color: #FFFFFF !important; }
.shades.transparent { background-color: transparent !important; }
.black { background-color: #000000 !important; }
.black-text, .btn-link { color: #000000 !important; }
.white { background-color: #FFFFFF !important; }
.transparent { background-color: transparent !important; }
.transparent-text { color: transparent !important; }
.light-blue-text { color: #82B1FF !important; }
.dark-grey-text { color: #4f4f4f !important; }
.danger-color { background-color: #ff3547 !important; }
.danger-color-dark { background-color: #CC0000 !important; }
.warning-color { background-color: #ffbb33 !important; }
.warning-color-dark { background-color: #FF8800 !important; }
.success-color { background-color: #00C851 !important; }
.success-color-dark { background-color: #007E33 !important; }
.info-color { background-color: #33b5e5 !important; }
.info-color-dark { background-color: #0099CC !important; }
.default-color { background-color: #2BBBAD !important; }
.default-color-dark { background-color: #00695c !important; }
.primary-color { background-color: #4285F4 !important; }
.primary-color-dark { background-color: #0d47a1 !important; }
.secondary-color { background-color: #aa66cc !important; }
.secondary-color-dark { background-color: #9933CC !important; }
.elegant-color { background-color: #2E2E2E !important; }
.elegant-color-dark { background-color: #212121 !important; }
.stylish-color { background-color: #4B515D !important; }
.stylish-color-dark { background-color: #3E4551 !important; }
.special-color { background-color: #37474F !important; }
.special-color-dark { background-color: #263238 !important; }
.unique-color { background-color: #3F729B !important; }
.unique-color-dark { background-color: #1C2331 !important; }
.kb-color { background-color: #1f416e !important; }
.rgba-blue-light { background-color: rgba(3, 169, 244, 0.3) !important; }
.rgba-red-light { background-color: rgba(244, 67, 54, 0.3) !important; }
.rgba-pink-light { background-color: rgba(233, 30, 99, 0.3) !important; }
.rgba-purple-light { background-color: rgba(156, 39, 176, 0.3) !important; }
.rgba-indigo-light { background-color: rgba(63, 81, 181, 0.3) !important; }
.rgba-cyan-light { background-color: rgba(0, 188, 212, 0.3) !important; }
.rgba-teal-light { background-color: rgba(0, 150, 136, 0.3) !important; }
.rgba-green-light { background-color: rgba(76, 175, 80, 0.3) !important; }
.rgba-lime-light { background-color: rgba(205, 220, 57, 0.3) !important; }
.rgba-yellow-light { background-color: rgba(255, 235, 59, 0.3) !important; }
.rgba-orange-light { background-color: rgba(255, 152, 0, 0.3) !important; }
.rgba-brown-light { background-color: rgba(121, 85, 72, 0.3) !important; }
.rgba-grey-light { background-color: rgba(158, 158, 158, 0.3) !important; }
.rgba-bluegrey-light { background-color: rgba(96, 125, 139, 0.3) !important; }
.rgba-black-light { background-color: rgba(0, 0, 0, 0.3) !important; }
.rgba-stylish-light { background-color: rgba(62, 69, 81, 0.3) !important; }
.rgba-white-light { background-color: rgba(255, 255, 255, 0.3) !important; }
.rgba-blue-strong { background-color: rgba(3, 169, 244, 0.7) !important; }
.rgba-red-strong { background-color: rgba(244, 67, 54, 0.7) !important; }
.rgba-pink-strong { background-color: rgba(233, 30, 99, 0.7) !important; }
.rgba-purple-strong { background-color: rgba(156, 39, 176, 0.7) !important; }
.rgba-indigo-strong { background-color: rgba(63, 81, 181, 0.7) !important; }
.rgba-cyan-strong { background-color: rgba(0, 188, 212, 0.7) !important; }
.rgba-teal-strong { background-color: rgba(0, 150, 136, 0.7) !important; }
.rgba-green-strong { background-color: rgba(76, 175, 80, 0.7) !important; }
.rgba-lime-strong { background-color: rgba(205, 220, 57, 0.7) !important; }
.rgba-yellow-strong { background-color: rgba(255, 235, 59, 0.7) !important; }
.rgba-orange-strong { background-color: rgba(255, 152, 0, 0.7) !important; }
.rgba-brown-strong { background-color: rgba(121, 85, 72, 0.7) !important; }
.rgba-grey-strong { background-color: rgba(158, 158, 158, 0.7) !important; }
.rgba-bluegrey-strong { background-color: rgba(96, 125, 139, 0.7) !important; }
.rgba-black-strong { background-color: rgba(0, 0, 0, 0.7) !important; }
.rgba-stylish-strong { background-color: rgba(62, 69, 81, 0.7) !important; }
.rgba-white-strong { background-color: rgba(255, 255, 255, 0.7) !important; }
.rgba-blue-slight { background-color: rgba(3, 169, 244, 0.1) !important; }
.rgba-red-slight { background-color: rgba(244, 67, 54, 0.1) !important; }
.rgba-pink-slight { background-color: rgba(233, 30, 99, 0.1) !important; }
.rgba-purple-slight { background-color: rgba(156, 39, 176, 0.1) !important; }
.rgba-indigo-slight { background-color: rgba(63, 81, 181, 0.1) !important; }
.rgba-cyan-slight { background-color: rgba(0, 188, 212, 0.1) !important; }
.rgba-teal-slight { background-color: rgba(0, 150, 136, 0.1) !important; }
.rgba-green-slight { background-color: rgba(76, 175, 80, 0.1) !important; }
.rgba-lime-slight { background-color: rgba(205, 220, 57, 0.1) !important; }
.rgba-yellow-slight { background-color: rgba(255, 235, 59, 0.1) !important; }
.rgba-orange-slight { background-color: rgba(255, 152, 0, 0.1) !important; }
.rgba-brown-slight { background-color: rgba(121, 85, 72, 0.1) !important; }
.rgba-grey-slight { background-color: rgba(158, 158, 158, 0.1) !important; }
.rgba-bluegrey-slight { background-color: rgba(96, 125, 139, 0.1) !important; }
.rgba-black-slight { background-color: rgba(0, 0, 0, 0.1) !important; }
.rgba-stylish-slight { background-color: rgba(62, 69, 81, 0.1) !important; }
.rgba-white-slight { background-color: rgba(255, 255, 255, 0.1) !important; }
.bg-primary { background-color: #4285F4 !important; }
.bg-danger { background-color: #ff3547 !important; }
.bg-warning { background-color: #FF8800 !important; }
.bg-success { background-color: #00C851 !important; }
.bg-info { background-color: #33b5e5 !important; }
.bg-default { background-color: #2BBBAD !important; }
.bg-secondary { background-color: #aa66cc !important; }
.bg-elegant { background-color: #2E2E2E !important; }
.bg-unique { background-color: #880e4f !important; }
.bg-dark-green { background-color: #388E3C !important; }
.bg-kb-color { background-color: #59698D !important; }
.bg-red { background-color: #D32F2F !important; }
.bg-pink { background-color: #ec407a !important; }
.bg-purple { background-color: #8e24aa !important; }
.bg-deep-purple { background-color: #512da8 !important; }
.bg-indigo { background-color: #3f51b5 !important; }
.bg-blue { background-color: #1976D2 !important; }
.bg-light-blue { background-color: #82B1FF !important; }
.bg-cyan { background-color: #00bcd4 !important; }
.bg-teal { background-color: #00796b !important; }
.bg-green { background-color: #388E3C !important; }
.bg-light-green { background-color: #8bc34a !important; }
.bg-lime { background-color: #afb42b !important; }
.bg-yellow { background-color: #fbc02d !important; }
.bg-amber { background-color: #ffa000 !important; }
.bg-orange { background-color: #f57c00 !important; }
.bg-deep-orange { background-color: #ff7043 !important; }
.bg-brown { background-color: #795548 !important; }
.bg-grey { background-color: #616161 !important; }
.bg-blue-grey { background-color: #78909c !important; }
.bg-dark { background-color: #212121 !important; }
.bg-light { background-color: #e0e0e0 !important; }
.bg-white { background-color: #fff !important; }
.bg-black { background-color: #000 !important; }

/*Social Button Color*/

.btn-fb{ background-color:#3b5998 }
.btn-fb:focus,.btn-fb:hover{ background-color:#4264aa }
.fb-ic{ color:#3b5998!important }
.fb-ic:focus,.fb-ic:hover{ color:#3b5998 }
.btn-tw{ background-color:#55acee }
.btn-tw:focus,.btn-tw:hover{ background-color:#6cb7f0}
.tw-ic{ color:#55acee!important }
.tw-ic:focus,.tw-ic:hover{ color:#55acee }
.btn-gplus{ background-color:#dd4b39 }
.btn-gplus:focus,.btn-gplus:hover{ background-color:#e15f4f }
.gplus-ic{ color:#dd4b39!important }
.gplus-ic:focus,.gplus-ic:hover{ color:#dd4b39 }
.btn-yt{ background-color:#ed302f}
.btn-yt:focus,.btn-yt:hover{ background-color:#ef4746 }
.yt-ic{ color:#ed302f!important }
.yt-ic:focus,.yt-ic:hover{ color:#ed302f }
.btn-li{ background-color:#0082ca }
.btn-li:focus,.btn-li:hover{ background-color:#0092e4 }
.li-ic{ color:#0082ca!important}
.li-ic:focus,.li-ic:hover{ color:#0082ca }
.btn-ins{ background-color:#2e5e86 }
.btn-ins:focus,.btn-ins:hover{ background-color:#356b99 }
.ins-ic{ color:#2e5e86!important }
.ins-ic:focus,.ins-ic:hover{ color:#2e5e86 }
.btn-pin{ background-color:#c61118 }
.btn-pin:focus,.btn-pin:hover{ background-color:#dd131b }
.pin-ic{ color:#c61118!important }
.pin-ic:focus,.pin-ic:hover{ color:#c61118 }
.btn-ins{ background-color:#2e5e86 }
.btn-ins:focus,.btn-ins:hover{ background-color:#356b99 }
.ins-ic{ color:#2e5e86!important }
.ins-ic:focus,.ins-ic:hover{ color:#2e5e86 }
.btn-git{ background-color:#333 }
.btn-git:focus,.btn-git:hover{ background-color:#404040 }
.git-ic{ color:#333!important }
.git-ic:focus,.git-ic:hover{ color:#333 }
.btn-comm{ background-color:#30cfc0 }
.btn-comm:focus,.btn-comm:hover{ background-color:#45d4c6 }
.comm-ic{ color:#30cfc0!important }
.comm-ic:focus,.comm-ic:hover{ color:#30cfc0 }
.btn-vk{ background-color:#4c75a3 }
.btn-vk:focus,.btn-vk:hover{ background-color:#5882b1 }
.vk-ic{ color:#4c75a3!important }
.vk-ic:focus,.vk-ic:hover{ color:#4c75a3 }
.btn-dribbble{ background-color:#ec4a89 }
.btn-dribbble:focus,.btn-dribbble:hover{ background-color:#ee6198 }
.dribbble-ic{ color:#ec4a89!important }
.dribbble-ic:focus,.dribbble-ic:hover{ color:#ec4a89 }
.btn-so{ background-color:#ffac44 }
.btn-so:focus,.btn-so:hover{ background-color:#ffb75e }
.so-ic{ color:#ffac44!important }
.so-ic:focus,.so-ic:hover{ color:#ffac44 }
.btn-slack{ background-color:#56b68b }
.btn-slack:focus,.btn-slack:hover{ background-color:#68be97 }
.slack-ic{ color:#56b68b!important }
.slack-ic:focus,.slack-ic:hover{ color:#56b68b }
.btn-email{ background-color:#4b515d }
.btn-email:focus,.btn-email:hover{ background-color:#565d6b }
.email-ic{ color:#4b515d!important }
.email-ic:focus,.email-ic:hover{ color:#4b515d }
/*End Social Button Color*/


body {
    font-family: Roboto,sans-serif;
    font-weight: 300;
}
a {
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.inline-ul > li {
    display: inline-block;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: none;
}
.error {
    color: red;
}

/*input, textarea File*/
.md-form {
    position: relative;
    margin-bottom: 1.5rem;
}
.md-form .btn {
    margin-bottom: 1.5rem;
}
input[type="date"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="password"], input[type="search-md"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], textarea.md-textarea {
    height: 2.5rem;
}

/*Textarea*/
textarea.md-textarea {
    overflow-y: hidden;
    padding: 1.6rem 0;
    resize: none;
    min-height: 3rem;
}
textarea.md-textarea {
    background-color: transparent;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 0;
    outline: 0;
    height: 2.1rem;
    width: 100%;
    font-size: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
textarea {
    width: 100%;
    height: auto;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 10px;
}

/*Lable*/
.md-form label {
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    color: #757575;
    position: absolute;
    top: .8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
}
input[type="date"] + label::after, input[type="datetime-local"] + label::after, input[type="email"] + label::after, input[type="number"] + label::after, input[type="password"] + label::after, input[type="search-md"] + label::after, input[type="search"] + label::after, input[type="tel"] + label::after, input[type="text"] + label::after, input[type="time"] + label::after, input[type="url"] + label::after, textarea.md-textarea + label::after {
    display: block;
    content: "";
    position: absolute;
    top: 65px;
    opacity: 0;
    -webkit-transition: .2s opacity ease-out,.2s color ease-out;
    transition: .2s opacity ease-out,.2s color ease-out;
}

/*Select*/ 
.select-wrapper {
    position: relative;
}
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bdbdbd;
    outline: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    display: block;
    border-radius: 0.25rem;
}
select {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: none !important;
}
.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 10px;
    top: 16px;
    font-size: 10px;
}
.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none; 
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width,height;
    -webkit-box-shadow: 0 2px 5px 0 #0003,0 2px 10px 0 #0000001a;
    box-shadow: 0 2px 5px 0 #0003,0 2px 10px 0 #0000001a;
}
.select-wrapper ul {
    list-style-type: none;
    padding-left: 0;
    z-index: 11;
}
.dropdown-content li {
    clear: both;
    color: #000;
    cursor: pointer;
    line-height: 1.3rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}
.dropdown-content li.active, .dropdown-content li:hover {
    background-color: #eee;
}
.dropdown-content li > a, .dropdown-content li > span {
    font-size: .9rem;
    color: #4285f4;
    display: block;
    padding: .5rem;
}

/*Redio button*/
.form-inline .form-group {
    margin-right: 2rem;
}
[type="checkbox"], [type="radio"] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}
[type="checkbox"] + label, [type="radio"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
[type="checkbox"]:checked + label::before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #4285f4 #4285f4 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff; 
    background-color: transparent;
}
[type="radio"] + label {
    -webkit-transition: .28s ease;
    transition: .28s ease;
}
[type="radio"] + label::after, [type="radio"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}
[type="radio"]:checked + label::before {
    border-color: transparent;
}
[type="radio"]:checked + label::after {
    border-color: #4285f4;
    background-color: #4285f4;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

/*Lable Active*/
.md-form label.active {
    -webkit-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    transform: translateY(-140%);
    font-size: .8rem;
}
input[type=date]:focus:not([readonly])+label,input[type=datetime-local]:focus:not([readonly])+label,input[type=email]:focus:not([readonly])+label,input[type=number]:focus:not([readonly])+label,input[type=password]:focus:not([readonly])+label,input[type=search-md]:focus:not([readonly])+label,input[type=search]:focus:not([readonly])+label,input[type=tel]:focus:not([readonly])+label,input[type=text]:focus:not([readonly])+label,input[type=time]:focus:not([readonly])+label,input[type=url]:focus:not([readonly])+label,textarea.md-textarea:focus:not([readonly])+label{
    color:#4285f4
}
input[type="text"].valid, input[type="text"]:focus.valid, input[type="email"].valid, input[type="email"]:focus.valid, input[type="password"].valid, input[type="password"]:focus.valid, textarea[type="text"].valid, textarea[type="text"]:focus.valid, input[type="url"].valid, input[type="url"]:focus.valid{
    border: 1px solid #01951e;
    /*    -webkit-box-shadow: 0 1px 0 0 #00c851;
        box-shadow: 0 1px 0 0 #00c851;*/
}

.form-control:focus, input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="search-md"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="text"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]), .form-light input[type="email"]:focus:not([readonly]), .form-light input[type="password"]:focus:not([readonly]){
    /*border-bottom: transparent;*/
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*Card*/
.card:not([class*="card-outline-"]) {
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.card {
    font-weight: 400;
    border-radius: .3rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #0000001a;
    border-radius: 0.25rem;
}
.card .card-body h5 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

/*Button*/
/*.btn {
    font-size: .8rem;
    padding: .85rem 2.13rem;
    margin: 6px;
    border-radius: 2px;
    border: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    text-transform: uppercase;
    white-space: normal !important;
    word-wrap: break-word;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px 0 #0003,0 2px 10px 0 #0000001a;
    box-shadow: 0 2px 5px 0 #0003,0 2px 10px 0 #0000001a;
    color: #fff !important;
}
.btn:hover{
    -webkit-box-shadow: 0 5px 11px 0 #0003,0 4px 15px 0 #0003;
    box-shadow: 0 5px 11px 0 #0003,0 4px 15px 0 #0003;
}
.btn:active, .btn:focus{
    -webkit-box-shadow: 0 5px 11px 0 #0003,0 4px 15px 0 #0003;
    box-shadow: 0 5px 11px 0 #0003,0 4px 15px 0 #0003;
}*/
.btn-rounded {
    border-radius: 10em;
}
.btn:active, .btn:focus, .btn:hover {
    outline: 0;
}
.btn-info:hover {
    background-color: #4abde8 !important;
}
.btn .fa {
    font-size: 1rem;
    position: relative;
    vertical-align: middle;
    margin-top: -2px;
}
.btn {
    font-size: 14px;
    white-space: normal !important;
    word-wrap: break-word;
    cursor: pointer;
}
.btn.btn-sm, .btn.wishlist {
    font-size: .6rem;
    padding: .5rem 1.6rem;
}
.btn-floating.btn-large, .btn-floating.btn-lg {
    width: 61.1px;
    height: 61.1px;
}
.btn-floating {
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    width: 47px;
    height: 47px;
    padding: 0;
    border-radius: 50%;
    margin: 10px;
    background-color: #a6c;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0 5px 11px 0 #0003,0 4px 15px 0 #0003;
    box-shadow: 0 5px 11px 0 #0003,0 4px 15px 0 #0003;
}
.btn-floating.btn-sm, .btn-floating.btn-small, .btn-floating.wishlist {
    width: 36.15385px;
    height: 36.15385px;
}
.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    font-size: 1.25rem;
    line-height: 47px;
    text-align: center;
}
.btn-floating.btn-large i, .btn-floating.btn-lg i {
    font-size: 1.625rem;
    line-height: 61.1px;
}
.btn-floating.btn-sm i, .btn-floating.btn-small i, .btn-floating.wishlist i {
    font-size: .96154rem;
    line-height: 36.15385px;
}
.btn[class*="btn-outline-"] {
    padding-top: .76rem;
    padding-bottom: .76rem;
}

/*Fonts*/
.font-bold {
    font-weight: 600;
}
.font-small {
    font-size: .8rem;
}
.font-up {
    text-transform: uppercase;
}

/*Bg (button) Color Code*/
.btn-default {
    background-color: #2bbbad;
}
.btn-primary {
    background-color: #4285f4;
}
.btn-info {
    background-color: #33b5e5;
}
.btn-amber {
    background-color: #ffa000;
}
.btn-blue-grey {
    /*    background-color: #78909c;*/
    background-color: #1f416e;
}
.btn-blue-grey.active, .btn-blue-grey:active, .btn-blue-grey:focus {
    background-color: #546973 !important;
}
.btn-blue-grey:hover {
    background-color: #879ca7 !important;
}
.btn-kb-color {
    /*    background-color: #59698d;*/
    background-color: #1f416e;
}
.btn-kb-color:hover {
    background-color: #63759d !important;
}

/*Outline btn*/
.btn-outline-info {
    border: 2px solid #33b5e5;
    color: #33b5e5 !important;
    background-color: transparent;
}
.btn-outline-info.active, .btn-outline-info:active, .btn-outline-info:active:focus, .btn-outline-info:focus, .btn-outline-info:hover {
    background-color: transparent;
    color: #33b5e5;
    border-color: #33b5e5;
}
.btn-outline-success {
    border: 2px solid #00c851;
    color: #00c851 !important;
    background-color: transparent;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-outline-danger {
    border: 2px solid #ff6c6c;
    color: #ff6c6c !important;
    background-color: transparent;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #ff6c6c;
    border-color: #ff6c6c;
}
.btn-outline-success.active, .btn-outline-success:active, .btn-outline-success:active:focus, .btn-outline-success:focus, .btn-outline-success:hover {
    background-color: transparent;
    color: #00c851;
    border-color: #00c851;
}
.btn-outline-danger.active, .btn-outline-danger:active, .btn-outline-danger:active:focus, .btn-outline-danger:focus, .btn-outline-danger:hover {
    background-color: transparent;
    color: #ff6c6c;
    border-color: #ff6c6c;
}

/*bg color*/
.toast-warning, .warning-color {
    background-color: #fb3 !important;
}
.success-color, .toast-success {
    background-color: #00c851 !important;
}

/*Background Color*/
.green {
    background-color: #4caf50 !important;
}
.grey.lighten-5 {
    background-color: #fafafa !important;
}
.grey.lighten-4 {
    background-color: #f5f5f5 !important;
}
.grey.lighten-3 {
    background-color: #eeeeee !important;
}
.grey.lighten-2 {
    background-color: #e0e0e0 !important;
}
.grey.lighten-1 {
    background-color: #bdbdbd !important;
}
.grey {
    background-color: #9e9e9e !important;
}
.blue-gradient {
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f);
    background: -webkit-linear-gradient(50deg,#45cafc,#4285f4);
    background: linear-gradient(40deg,#45cafc,#4285f4);
}
.btn.purple-gradient {
    background: linear-gradient(40deg,#ff6ec4,#7873f5) !important;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.btn.purple-gradient:hover {
    background: -webkit-linear-gradient(50deg,#ff88ce,#8f8bf7);
    background: linear-gradient(40deg,#ff88ce,#8f8bf7);
}
.deep-orange {
    background-color: #ff5722 !important;
}

/*Text Color*/
.white-text{
    color: #fff !important;
}
.grey-text {
    color: #9e9e9e !important;
}
.dark-grey-text {
    color: #4f4f4f !important;
}

/*Waves Effect*/
a.waves-effect, a.waves-light {
    display: inline-block;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}
.waves-effect {
    cursor: pointer;
}
.waves-input-wrapper {
    border-radius: .2em;
    vertical-align: middle;
    display: inline-block;
}

/*header*/
.navbar{
    -webkit-box-shadow: 0 2px 5px 0 #0003,0 2px 10px 0 #0000001a;
    box-shadow: 0 2px 5px 0 #0003,0 2px 10px 0 #0000001a;
}
.navbar {
    font-weight: 300;
}
.navbar .nav-flex-icons, .navbar.double-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.navbar .nav-item .nav-link {
    display: block;
}
.navbar .nav-item .nav-link .fa {
    padding-left: 3px;
    padding-right: 3px;
}

/*Footer*/
footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    color: #fff;
}
footer.page-footer {
    color: #fff;
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: #fff9;
    background-color: #0003;
    text-align: center;
    font-size: .9rem;
}
footer.page-footer .footer-copyright {
    line-height: 50px;
    color: #fff9;
    text-align: center;
    font-size: .9rem;
}
footer.page-footer ul {
    list-style-type: none;
    padding: 0;
}
footer.page-footer a {
    color: #fff;
}

.badge {
    color: #fff;
    line-height: 1.2;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 #0003,0 2px 10px 0 #0000001a;
    box-shadow: 0 2px 5px 0 #0003,0 2px 10px 0 #0000001a;
}
.badge-pill{
    border-radius: 10rem
}
.badge-blue {
    background-color: #1976d2;
}
.badge-info {
    background-color: #33b5e5;
}

/*Admin Panel (admin)*/
p span.badge{
    padding: 10px;
    white-space: normal
}
table.table thead th {
    border-top: none;
}
table.table td, table.table th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
table th {
    font-size: .9rem;
    font-weight: 400;
}
table td {
    font-size: .9rem;
    font-weight: 300;
}
.table td {
    font-weight: 400;
    color: #4f4f4f;
}
.table a {
    margin-left: 1rem;
}
table.table a {
    margin: 0;
    color: #212529;
}
.file-field {
    position: relative;
}
.file-field .btn {
    float: left;
}
.file-field span {
    cursor: pointer;
}
.file-field input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1px;
    cursor: pointer;
    opacity: 0;
}
.file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px;
    padding-top: 7px;
}
.file-field input.file-path {
    width: 100%;
    height: 2.3rem;
}

/*Modal*/
.modal {
    padding-right: 0 !important;
    padding-left: 0 !important;
}   
.modal-dialog .modal-content {
    border-radius: 2px;
    border: 0;
}
.modal-dialog .modal-content{
    -webkit-box-shadow: 0 5px 11px 0 #0003,0 4px 15px 0 #0003;
    box-shadow: 0 5px 11px 0 #0003,0 4px 15px 0 #0003;
}

/*Toast*/
.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.toast-message a,
.toast-message label {
    color: #FFFFFF;
}
.toast-message a:hover {
    color: #CCCCCC;
    text-decoration: none;
}
.toast-top-right {
    top: 12px;
    right: 12px;
}
#toast-container {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
    /*overrides*/
}
#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#toast-container > div {
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}
#toast-container > div.rtl {
    direction: rtl;
    padding: 15px 50px 15px 15px;
    background-position: right 15px center;
}
#toast-container > div:hover {
    -moz-box-shadow: 0 0 12px #000000;
    -webkit-box-shadow: 0 0 12px #000000;
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.toast {
    background-color: #030303;
}
#toast-container > .toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}
.toast-error {
    background-color: #FF3F50;
}
/*Responsive Design*/
@media all and (max-width: 767px) {
    .file-field .file-path-wrapper {
        padding-left: 0px;
    }
}
@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }
    #toast-container > div.rtl {
        padding: 8px 50px 8px 8px;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
    #toast-container .rtl .toast-close-button {
        left: -0.2em;
        right: 0.2em;
    }
}
@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }
    #toast-container > div.rtl {
        padding: 8px 50px 8px 8px;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
    #toast-container .rtl .toast-close-button {
        left: -0.2em;
        right: 0.2em;
    }
}
@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
    #toast-container > div.rtl {
        padding: 15px 50px 15px 15px;
    }
}

[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #8a8a8a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    transition: .2s;
}
.form-control:focus{
    border-color: #01951e;
}
.modal-header .close span {
    font-size: 32px;
}

/*Toggle Css*/
.switch label input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    background-color: #818181;
    -webkit-border-radius: .9375rem;
    border-radius: .9375rem;
    margin-right: .625rem;
    vertical-align: middle;
    margin: 0 1rem;
    width: 2.5rem;
    height: .9375rem;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}
.switch label .lever::after {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #f1f1f1;
    -webkit-border-radius: 1.3125rem;
    border-radius: 1.3125rem;
    left: -.3125rem;
    top: -.1875rem;
    -webkit-box-shadow: 0 .0625rem .1875rem .0625rem rgba(0,0,0,.4);
    box-shadow: 0 .0625rem .1875rem .0625rem rgba(0,0,0,.4);
    width: 1.3125rem;
    height: 1.3125rem;
    -webkit-transition: left .3s ease,background .3s ease,-webkit-box-shadow 1s ease;
    transition: left .3s ease,background .3s ease,-webkit-box-shadow 1s ease;
    -o-transition: left .3s ease,background .3s ease,box-shadow 1s ease;
    transition: left .3s ease,background .3s ease,box-shadow 1s ease;
    transition: left .3s ease,background .3s ease,box-shadow 1s ease,-webkit-box-shadow 1s ease;
}
.switch label input[type="checkbox"]:checked + .lever {
    background-color: #2ACC6C;
}
.switch.round label .lever::after {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    left: 4px;
    top: 4px;
}
.switch label input[type="checkbox"]:checked + .lever::after {
    background-color: #00C851;
    left: 30px;
}
.switch.success-switch label input[type="checkbox"]:checked + .lever::after {
    background-color: #00C851;
}
.switch.round label .lever {
    width: 54px;
    height: 25px;
    border-radius: 10em;
}
.switch.round label .lever:after {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: 4px;
    top: 3px;
}
.switch.square label .lever {
    width: 54px;
    height: 34px;
    border-radius: 0px;
}
.switch.square label .lever:after {
    width: 26px;
    height: 26px;
    border-radius: 0px;
    left: 4px;
    top: 4px;
}
.font_size_12{
    font-size: 12px;
}